ArrayTaskID   GenomeName	CDS_Fasta
1             Del_Norte		/mnt/research/edgerpat_lab/Scotty/Strawberry_Domestication/data/Genomes/Fixed_Fastas/Del_Norte/DN_CDS_NewNames.fa
2             Royal_Royce 	/mnt/research/edgerpat_lab/Scotty/Strawberry_Domestication/data/Genomes/Fixed_Fastas/Royal_Royce/RR_CDS_NewNames.fa
3             H4 		/mnt/research/edgerpat_lab/Scotty/Strawberry_Domestication/data/Genomes/Fixed_Fastas/H4/H4_CDS_NewNames.fa
4             Iinumae		/mnt/research/edgerpat_lab/Scotty/Strawberry_Domestication/data/Genomes/Fixed_Fastas/F_iinumae/FII_CDS_NewNames.fa
5             Nipponica		/mnt/research/edgerpat_lab/Scotty/Strawberry_Domestication/data/Genomes/Fixed_Fastas/F_nipponica/FNI_CDS_NewNames.fa
6             Viridis		/mnt/research/edgerpat_lab/Scotty/Strawberry_Domestication/data/Genomes/Fixed_Fastas/F_viridis/FVI_CDS_NewNames.fa
